<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sendmail</title>
</head>
<body>
    <header>
        <h1>SendMail</h1>
        
    </header>

    <main>
        <section>
            <h2>About SendMail</h2>
            
        </section>

        <section>
            <ul>
                <li>Email: <a href="mailto:info@sendm.com">info@example.com</a></li>
                <li>Phone: </li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 SendMail.</p>
    </footer>
</body>
</html>